# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse IDE
/.settings/
/.metadata/
/.classpath
.project
/.recommenders/
/bin/
target/

# IntelliJ IDEA
/.idea
*.iml
*.iws
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Other
*.swp
*~
.idea_modules/
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/
